[Unit]
Description=gridengine_prometheus

[Service]
Type=simple
Restart=always
RestartSec=5s
EnvironmentFile=/etc/default/gridengine_prometheus
ExecStart=/usr/local/bin/gridengine_prometheus

[Install]
WantedBy=multi-user.target